#task-container {
    margin-bottom: 4vh;
    font-size: 1.3em;
    margin-top: 2vh;
}

#search-input-container {
    margin-bottom: 1vh;
}

#query-input {
    font-size: 1em;
}

#search-button {
    font-size: 1em;
}

.align {
    display: flex;
}