.align-heading {
	white-space: nowrap;
}

.align-heading * {
	display: inline-block;
	margin-left: 1vw;
	margin-bottom: 0;
}

.margin-left-1 {
	margin-left: 1vw;
}

.margin-top-1 {
	margin-top: 1vw;
}

.margin-left-3 {
	margin-left: 3vw;
}